<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    
    
  <!--    
<bean id="empDAO" class="First.EmpDAO"></bean>
    <bean id="employeeService1" class="First.EmpService">
     <property name="employeeDAO"  ref="empDAO"></property>-->
    
  
    </beans>
