<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>dgtdpst</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  <!--  <error-page>
  1)
  <exception-type> </exception-type>
  <location>/written location of the path</location>
  </error-page>
  
  2)
  class== Request Dispatcher  got in request object
  create object of request dispatcher  
 rd= request.getRequestDispatcher("servlet path  ")
  rd.forward(req,res)
  rd.include(req,res)
  3)
  response.sendRedirect("path of servlet")     path will be internal and external   status==5301
  
  -->
  
 <servlet>
  
  <servlet-name>Htpservdgtdpst</servlet-name>
  <servlet-class>htpsrv.Htpservdgtdpst</servlet-class>
  
  
   </servlet>
    
  <servlet-mapping>
  
  <servlet-name>Htpservdgtdpst</servlet-name>
  <url-pattern>/Htpservdgtdpst</url-pattern>
  
  </servlet-mapping>
  
  
  <servlet>
        <servlet-name>Cookie1</servlet-name>
        <servlet-class>htpsrv.Cookie1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cookie1</servlet-name>
        <url-pattern>/Cookie1</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Cookiepost</servlet-name>
        <servlet-class>htpsrv.Cookiepost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cookiepost</servlet-name>
        <url-pattern>/Cookiepost</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
  
  <servlet-name>Errorhandler</servlet-name>
  <servlet-class>htpsrv.Errorhandler</servlet-class>
  
  
   </servlet>
    
  <servlet-mapping>
  
  <servlet-name>Errorhandler</servlet-name>
  <url-pattern>/Errorhandler</url-pattern>
  
  </servlet-mapping>
    
     <error-page>
        <exception-type>java.lang</exception-type>
        <location>/htpsrv.Errorhandler</location>
    </error-page>
    
    
</web-app>